@model IEnumerable<SchoolDiary.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "About";
}

    <h2>About</h2>

    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to School Diary</h2>
            <p>
                School Diary is sample and simple application written in C#, ASP.NET MVC 5 with Entity Framework 6.
            </p>
        </div>
    </div>